### 1\. What are data structures, and why are they important?

##### Data structures organize and store data efficiently, allowing for easier access, modification, and management, which improves algorithm performance.

### 2\. Explain the difference between mutable and immutable data types with examples.

##### Mutable: can change after creation (e.g., list, dict, set). Immutable: cannot change after creation (e.g., tuple, string, int).

### 3\. What are the main differences between lists and tuples in Python?

##### Lists are mutable, can be modified; tuples are immutable, faster, and used for fixed data.

### 4. Describe how dictionaries store data.

##### Dictionaries store key-value pairs, where keys are unique, and values are accessed via these keys.

### 5. Why might you use a set instead of a list in Python?

##### To store unique elements and perform fast membership tests or set operations like union and intersection.

### 6. What is a string in Python, and how is it different from a list?

##### A string is an immutable sequence of characters, while a list is a mutable sequence of any data type.

### 7. How do tuples ensure data integrity in Python?

##### Being immutable, tuples prevent accidental modification, ensuring data remains constant.

### 8. What is a hash table, and how does it relate to dictionaries in Python?

##### A hash table maps keys to values using a hash function; Python dictionaries are implemented as hash tables.

### 9. Can lists contain different data types in Python?

##### Yes, Python lists can store elements of mixed data types.

### 10. Explain why strings are immutable in Python.

##### For efficiency, security, and thread safety, since changing a string would require creating a new one anyway.

### 11. What advantages do dictionaries offer over lists for certain tasks?

##### Faster lookups, clear key-based access, and better organization of paired data.

### 12. Describe a scenario where using a tuple would be preferable over a list.

##### When storing constant configuration values or fixed records that shouldn’t change.

### 13. How do sets handle duplicate values in Python?

##### Sets automatically remove duplicates, only storing unique elements.

### 14. How does the “in” keyword work differently for lists and dictionaries?

##### For lists: checks if an element exists.
For dictionaries: checks if a key exists.

### 15. Can you modify the elements of a tuple? Explain why or why not.

##### No, because tuples are immutable.

### 16. What is a nested dictionary, and give an example of its use case?

##### A dictionary within another dictionary; e.g., storing student records with student IDs as keys and another dictionary as the value.

### 17. Describe the time complexity of accessing elements in a dictionary.

##### Average time complexity is O(1) due to hashing.

### 18. In what situations are lists preferred over dictionaries?

##### When maintaining order or handling simple, ordered collections without key-value pairs.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

##### Before Python 3.7, dictionaries didn’t guarantee order; you must access values via keys, not position.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.

##### Lists retrieve by index (position), while dictionaries retrieve by key, allowing faster lookups.

### 1️⃣ Create a string with your name and print it

In [4]:
name = "YourName"
print(name)

YourName

### 2️⃣ Find the length of the string "Hello World"

In [15]:
s = "Hello World"
print(len(s))

11

### 3️⃣ Slice the first 3 characters from the string "Python Programming"

In [35]:
s='Python Programming'

In [39]:
s[0:3]

'Pyt'

### 4️⃣ Convert the string "hello" to uppercase

In [45]:
k="hello"

In [57]:
s=k.upper()

In [59]:
k

'Hello'

### 5️⃣ Replace the word "apple" with "orange" in the string "I like apple"

In [63]:
k="I like apple"

In [73]:
print(k.replace("apple" , "orange"))

I like orange

In [71]:
s

'I like orange'

### 6️⃣ Create a list with numbers 1 to 5 and print it

In [76]:
l=[1,2,3,4,5]

In [78]:
l

[1, 2, 3, 4, 5]

### 7️⃣ Append the number 10 to the list [1, 2, 3, 4]

In [113]:
k=[1,2,3,4]
k.append(10)
print(k)

[1, 2, 3, 4, 10]

### 8️⃣ Remove the number 3 from the list [1, 2, 3, 4, 5]

In [126]:
s=[1,2,3,4,5]
s.remove(3)

In [128]:
s

[1, 2, 4, 5]

### 9️⃣ Access the second element in the list ['a', 'b', 'c', 'd']

In [133]:
x=['a','b','c','d']
x[1]

'b'

### 🔟 Reverse the list [10, 20, 30, 40, 50]

In [137]:
y=[10,20,30,40,50]
y.reverse()

In [141]:
y

[50, 40, 30, 20, 10]

### 1️⃣1️⃣ Create a tuple with 100, 200, 300 and print it

In [146]:
t=(100,200,300)
print(t)

(100, 200, 300)

### 1️⃣2️⃣ Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [153]:
t=('red','green','blue','yellow')
t[1: ]

('green', 'blue', 'yellow')

### 1️⃣3️⃣ Find the minimum number in the tuple (10, 20, 5, 15)

In [156]:
t=(10,20,5,15)
print(min(t))

5

### 1️⃣4️⃣ Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit')

In [161]:
t=('dog','cat','rabbit')
t.index('cat')

1

### 1️⃣5️⃣ Create a tuple with three fruits and check if 'kiwi' is in it

In [166]:
t=('mango','orange','kiwi','apple','banana')
print('kiwi' in t)

True

In [168]:
y = ('apple', 'banana', 'orange')
print('kiwi' in y)

False

### 1️⃣6️⃣ Create a set with 'a', 'b', 'c' and print it

In [171]:
s={'a','b','c'}
print(s)

{'a', 'b', 'c'}

### 1️⃣7️⃣ Clear all elements from the set {1, 2, 3, 4, 5}

In [182]:
s={1,2,3,4,5}

In [190]:
s

{1, 2, 3, 4, 5}

In [192]:
del(s)

### 1️⃣8️⃣ Remove the element 4 from the set {1, 2, 3, 4}

In [198]:
s={1,2,3,4}
s.remove(4)

In [202]:
s

{1, 2, 3}

### 1️⃣9️⃣ Find the union of {1, 2, 3} and {3, 4, 5}

In [207]:
s1={1,2,3}
s2={3,4,5}

In [209]:
s=s1.union(s2)

In [213]:
s

{1, 2, 3, 4, 5}

### 2️⃣0️⃣ Find the intersection of {1, 2, 3} and {2, 3, 4}

In [246]:
s3={1,2,3}
s4={2,3,4}

In [248]:
s=s3.intersection(s4)

In [252]:
s

{2, 3}

### 2️⃣1️⃣ Create a dictionary with keys "name", "age", "city" and print it

In [259]:
d={"name":"sakshi","age":"19","city":"delhi"}
print(d)

{'name': 'sakshi', 'age': '19', 'city': 'delhi'}

### 2️⃣2️⃣ Add a new key-value pair 'country': 'USA' to {'name': 'John', 'age': 25}

In [273]:
d={'name': 'John', 'age': 25}
d['country']=["USA"]
print(d)

{'name': 'John', 'age': 25, 'country': ['USA']}

### 2️⃣3️⃣ Access the value associated with key 'name' in {'name': 'Alice', 'age': 30}

In [276]:
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

### 2️⃣4️⃣ Remove the key 'age' from {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [284]:
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')

22

In [288]:
d

{'name': 'Bob', 'city': 'New York'}

### 2️⃣5️⃣ Check if the key 'city' exists in {'name': 'Alice', 'city': 'Paris'}

d={'name': 'Alice', 'city': 'Paris'}
print('city'in d)

### 2️⃣6️⃣ Create a list, tuple, and dictionary, and print them all

In [11]:
l=[1,2,3,4]
t=(5,6,7,8)
d={9,10,11,12}

In [13]:
print(l,t,d)

[1, 2, 3, 4] (5, 6, 7, 8) {9, 10, 11, 12}

### 2️⃣7️⃣ Create a list of 5 random numbers between 1–100, sort, and print

In [22]:
import random
num = [random.randint(1,100) for i in range(5)]
num.sort()
print(num)

[25, 48, 54, 73, 94]

### 2️⃣8️⃣ Create a list with strings and print the element at index 3

In [27]:
l=['blue','black','green','yellow','white']
l[3]

'yellow'

### 2️⃣9️⃣ Combine two dictionaries and print the result

In [36]:
d1 = {'a': 1, 'b': 2,'f':5}
d2 = {'c': 3, 'd': 4,'g':6}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'f': 5, 'c': 3, 'd': 4, 'g': 6}

### 3️⃣0️⃣ Convert a list of strings into a set

In [39]:
l=[1,2,3,4,5,6]
s=set(l)
print(s)

{1, 2, 3, 4, 5, 6}